build/*
.DS_Store
.gradle/*
.gradle/7.1/executionHistory/executionHistory.bin
.gradle/7.1/executionHistory/executionHistory.lock
.gradle/7.1/fileHashes/fileHashes.bin
.gradle/7.1/fileHashes/fileHashes.lock
.gradle/7.1/fileHashes/resourceHashesCache.bin
.idea/gradle.xml
.idea/misc.xml
build/classes/java/main/Utils/base64.class
build/classes/java/main/Utils/Tags.class
build/classes/java/test/base64Test.class
build/reports/tests/test/classes/winstonTest.html
build/reports/tests/test/index.html
build/reports/tests/test/packages/default-package.html
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
build/test-results/test/TEST-winstonTest.xml
build/tmp/compileJava/previous-compilation-data.bin
build/tmp/compileTestJava/previous-compilation-data.bin
.gradle/7.1/executionHistory/executionHistory.bin
